@import "./index";
@import "./fotos";
@import "./contacto";
@import "./videos";
@import "./tienda";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
     *{
     font-family: roboto;
    }

$contactanos:(
    "blue":rgba(0, 0, 255, 0.74),
    "white":transparent,
   );
   
    .facebook{
        background-color:map-get($contactanos , "blue");
    }
    .instagram{
    background-color:map-get($contactanos , "white");
    color: map-get($contactanos , "blue") ;
    }
    .twitter{
    background-color:map-get($contactanos , "blue");
    }
header{
    width: 100%;
    overflow: hidden;
}
.iconos{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    }